html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	background-color: #f6f5f5;
	color: #222831;
}

.navbar {
	overflow: hidden;
	padding: 10px 30px;
	height: 50px;
	background-color: #f25287;
	display: flex;
}

.item-left {
	display: flex;
	float: left;
	height: 100%;
}

.item-right {
	display: inline;
	margin-left: auto;
	height: 100%;
	padding-top: 10px;
}

.btn-berlangganan {
	padding: 5px 10px;
	color: #f15286 !important;
	border-radius: 5px;
	background-color: #f6f5f5;
}

h2.title-website {
	font-weight: 400;
	color: white;
	margin: 9px 15px 22px;
}

img.logo-website {
	width: 40px;
	object-fit: contain;
}

.item-right > a {
	text-decoration: none;
	color: white;
	margin-left: 25px;
}

.item-right > a:hover {
	color: #ececec;
	text-decoration: underline;
}

.img-primary {
	background: linear-gradient(rgb(99 99 99 / 70%), rgb(0 0 0 / 70%)), url('img-primary1.jpg');
	position: relative;
	text-align: center;
	color: white;
	width: 100%;
	height: 320px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: .9;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-img-primary {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container {
	padding: 20px 40px;
}

.title-article {
	text-align: center;
	font-weight: 600;
}

.m-0 {
	margin: 0;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.article > .content-article {
	display: flex;
}

.content-article > img {
	width: 300px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.image-content-left {
	display: none;
}

.content-article > p {
	text-align: justify;
}

p.paragraf-right {
	margin: 0 0 auto 40px;
}

p.paragraf-left {
	margin: 0 40px auto 0;
}

.content-article > p > a.btn-read-more {
	width: 200px;
	height: 150px;
	background-color: #f56a79;
	color: white;
	text-decoration: none;
	padding: 8px 15px;
	border-radius: 5px;
}

.content-article > p > a.btn-read-more:hover {
	background-color: #f34053;
}

.footer {
	height: 40px;
	background-color: #f25287;
	bottom: 0;
	text-align: center;
	padding-top: 15px;
	color: white;
}

.section-subscribe {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}

.text-center {
	text-align: center;
}

.mb-0 {
	margin-bottom: 0;
}

.mt-0 {
	margin-top: 0;
}

.container-login {
	padding: 10px 30px 20px;
	background-color: #e9e9e9;
	border-radius: 6px;
}

input.input {
	width: 100%;
	display: block;
	padding: 5px 10px;
	box-sizing: border-box;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 3px solid #f25287;
}

button.btn-login {
	width: 100%;
	border-radius: 5px;
	background-color: #f25287;
	border: none;
	color: white;
	padding: 8px;
	cursor: pointer;
	font-weight: 600;
	letter-spacing: 1.5px;
}

.credit {
	font-weight: 500;
	color: white;
}

.credit:hover {
	color: #efff00;
}

@media only screen and (max-width: 640px) {
	.navbar {
		padding: 10px 15px;
	}

	.item-right {
		display: none;
	}

	.item-left {
		margin-left: auto;
		margin-right: auto;
	}

	h2.title-website {
		font-size: 20px;
	}

	.article > .content-article {
		display: inline-block;
	}

	.content-article > img {
		width: 100%;
		max-height: 300px;
	}

	img.image-content-right {
		display: none;
	}

	img.image-content-left {
		display: block;
	}

	p.paragraf-right, p.paragraf-left {
		margin: 15px 0;
	}

	.section-subscribe {
		width: 100%;
	}

	footer {
		font-size: 15px;
	}
}